@model Assignment_2.ContactModel;

<div class="container-fluid">
    <h1>Contact Me</h1>
    <form asp-action="Contact" asp-controller="Home" method="post">     
        <div class="row">
            <div class="mt-3 form-group col-12 col-sm-6">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName">
            </div>
            <div class="mt-3 form-group col-12 col-sm-6">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName">
            </div>
            <div class="mt-3 form-group col-12">
                <label asp-for="Address"></label>
                <input class="form-control" asp-for="Address">
            </div>
            <div class="mt-3 form-group col-12 col-sm-4">
                <label asp-for="City"></label>
                <input class="form-control" asp-for="City">
            </div>
            <div class="mt-3 form-group col-12 col-sm-4">
                <label asp-for="State"></label>
                <input class="form-control" asp-for="State">
            </div>
            <div class="mt-3 form-group col-12 col-sm-4">
                <label asp-for="Zip"></label>
                <input class="form-control" asp-for="Zip">
            </div>
        </div>
        <input class="mt-3 btn btn-primary" class="form-control" type="submit" value="Submit">
    </form>
</div>