<h1>Home</h1>
<p>For my project, I would want to make a wiki for the video game that is my senior project.</p>
<p>This project would allow me to meet the specifications including the different account types (admins for editing, users for comments, and others can just look).</p>